name: Production Deploy

on:
  pull_request:
    branches:
      - main

jobs:
  approve:
    runs-on: ubuntu-latest

    steps:
      - name: Require manual approval before deploy
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: approve

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Production Build
        run: npm run build
